<%= form_for @event do |f| %>
  <div class="form-group">
    <label>Event name</label>
    <%= f.select :name, [["Rock am Ring", "Rock am Ring"], ["Oeral", "Oeral"], ["Zwarte Cross", "Zwarte Cross"]], id: "Name event", prompt: "Select your event", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>event Type</label>
    <%= f.select :location, [["Adenau","Adenau"], ["Terschelling", "Terschelling"], ["Lichtenvoorde", "Lichtenvoorde"]], prompt: "Select location", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Number of People</label>
    <%= f.select :price, [["20", 20], ["34", 34], ["25", 25], ["40", 40], ["16", 16], ["50", 50]], prompt: "Select price", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Bedevents</label>
    <%= f.select :capacity, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]], prompt: "Select number of bedevents", class: "form-control" %>
  </div>



  <label>Amenities</label>

  <div class="form-group">
    <%= f.check_box :includes_food %> food
  </div>
  <div class="form-group">
    <%= f.check_box :includes_drinks %> drinks
  </div>






  <label>Publish this place?</label>

  <div class="form-group">
    <%= f.check_box :active %> Active
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
