<%= form_for @event do |f| %>
  <div class="form-group">
    <label>Event name</label>
    <%= f.select :name, [["Rock am Ring", "Rock am Ring"], ["Oeral", "Oeral"], ["Zwarte Cross", "Zwarte Cross"]], id: "Name event", prompt: "Select your event", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Location</label>
    <%= f.select :location, [["Adenau","Adenau"], ["Terschelling", "Terschelling"], ["Lichtenvoorde", "Lichtenvoorde"]], prompt: "Select location", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Price</label>
    <%= f.select :price, [["20+", 20], ["30+", 30], ["40+", 40], ["50+", 50], ["60+", 60], ["70+", 70]], prompt: "Select price", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Capacity (in thousands)</label>
    <%= f.select :capacity, [["10+", 10], ["20+", 20], ["30+", 30], ["40+", 40]], prompt: "Select number of bedevents", class: "form-control" %>
  </div>



  <label>Amenities</label>

  <div class="form-group">
    <%= f.check_box :includes_food %> food
  </div>
  <div class="form-group">
    <%= f.check_box :includes_drinks %> drinks
  </div>

  <label>Themes</label>

  <%= f.collection_check_boxes(:theme_ids, Theme.all, :id, :name) do |b| %>
    <div class="form-group">
      <%= b.check_box(class: "check_box") %> <%= b.object.name %>
    </div>
  <% end %>


  <label>Publish this place?</label>

  <div class="form-group">
    <%= f.check_box :active %> Active
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
